<div class="page-title-box">
    <h4 class="page-title" style="font-size: 18px;">Financial Year</h4>
 </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 offset-2">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Manage Financial Year</h4>
                    <div class="box-tools">
                      <a class="fa fa-refresh"></a>
                      <a class="fa fa-minus"></a>
                    </div>
                </div>
                <div class="box-body custom-datatable">
                  <data-table id="persons-grid"
                      headerTitle="Employees"
                      [items]="items"
                      [itemCount]="itemCount"
                      (reload)="reloadItems($event)"

                      (rowClick)="rowClick($event)"
                      (rowDoubleClick)="rowDoubleClick($event)"
                      [rowTooltip]="rowTooltip"
                      >
                      <data-table-column
                          [property]="'name'"
                          [header]="'Name'"
                          [sortable]="true"
                          [resizable]="true">
                      </data-table-column>
                      <data-table-column
                          [property]="'date'"
                          [header]="'Date'"
                          [sortable]="true">
                          <ng-template #dataTableCell let-item="item">
                              <span>{{item.date | date:'yyyy-MM-dd'}}</span>
                          </ng-template>
                      </data-table-column>
                      <data-table-column
                          property="phoneNumber"
                          header="Phone number"
                          width="150px">
                      </data-table-column>
                      <data-table-column
                          [property]="'jobTitle'"
                          [header]="'Job title'"
                          [visible]="false">
                      </data-table-column>
                      <data-table-column
                          [property]="'active'"
                          [header]="'Active'"
                          [width]="100"
                          [resizable]="true">
                          <ng-template #dataTableHeader let-item="item">
                              <span style="color: rgb(232, 0, 0)">Active</span>
                          </ng-template>
                          <ng-template #dataTableCell let-item="item">
                              <span style="color: grey">
                              <span class="fa fa-check" *ngIf="item.active"></span>
                              <span class="fa fa-remove" *ngIf="!item.active"></span>
                              </span>
                          </ng-template>
                      </data-table-column>
                  </data-table>
                </div>
                <div class="box-footer">

                </div>
            </div>
          </div>
      </div>
      </div>
