@import '~variables.scss';
.mgp {
    color: $blue1 !important;
    font-weight: bold;
}

.sidebar-ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 0 20px 0;
    position: relative;
}

.sidebar-ul a {
    cursor: pointer;
}

.sidebar-ul>li {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

.sidebar-ul>li>a {
    text-align: left;
    padding: 5px 0px;
    margin: 0 10px;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    position: relative;
     color: #666 !important;
}

.picon {
    color: #37474f;
    font-size: 14px;
    padding: 4px;
    margin-right: 10px;
    border-radius: 4px;
    width: 30px;
    display: inline-block;
    height: 30px;
    text-align: center;
}

.ptext-link {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 9px;
}

.side-submenu {
    position: relative;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transition: opacity .5s, -webkit-transform .5s;
    transition: transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s, -webkit-transform .5s;
    background: #fff;


}

.side-submenu>li {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

.side-submenu>li>a {
    border-bottom-width: 1px;
    border-bottom-color: #e6e5e5;
    color: rgba(0,0,0,.87);
    text-align: left;
    padding: 7.7px 10px;
    padding-left: 15px;
    display: block;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    position: relative;

}

// .side-submenu>li>a:hover{
//   color: #8c99e0 !important;
// }
.side-submenu>li>a:hover{
  background: rgba(0,0,0,.12);
   color: rgba(0,0,0,.87) !important;
}

.clinnk.active{
  background: rgba(0,0,0,.12);
   color: #1976d2 !important;
  font-weight: 500 !important;
}


.sptext-link {
    transition: all .3s ease-in-out;
}



.parent-list.active .side-submenu {
    display: block;
}
//  background-color: #ccc;
.sidebar-ul>li>a:hover {
    background: rgba(0,0,0,.12);
}
.menu-arrow{
  float: right;
  font-size: 18px;
  padding: 5px 10px 5px 0px;
}

