/* You can add global styles to this file, and also import other style files
   font-family: 'Rubik', sans-serif;
font-family: 'Roboto', sans-serif;

*/

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~variables.scss';
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: $bgcolor;
    font-family: 'Rubik', sans-serif;
}

.page-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.box{
    position: relative;
    float: left;
    width: 100%;
    // border: 1px solid;
    min-height: 200px;
    // border-top: 3px solid;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.box-header{
  position: relative;
  float: left;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.box-header .box-title{
  position: relative;
  float: left;
  font-size: 16px;
}
.box-tools{
  float: right;
  color: #cfcfcf;
}
.box-primary{
  border-color: blue;
}









/*********** WIDGET ****************/
.danger-card{
  background: #dc143c;
  border-color: #dc143c;
}
.warning-card{
  background: #ff8c00;
  border-color: #ff8c00;
}
.info-card{
  background: #00bfff;
  border-color: #00bfff;
}
.success-card{
  background: green;
  border-color: green;
}
.count{
  font-size: 32px;
}
.widget{
  color: #fff;
}
.widget .card-title{
  font-size: 14px;
  margin-bottom: 0px;
}
.wicon{
  color: hsla(0,0%,100%,.2);
  font-size: 60px;
  height: auto;
  position: absolute;
  right: 1.5714286rem;
  top: 1.5714286rem;
  width: auto;
}
