$white :#ffffff;
$blue: #8c99e0;
$red:#E44F56;
$bgcolor:#f4f6f9;
$blue1:#448aff;
$b500:#2196F3;
$bl500:#03A9F4;
$grey:#59595a;
$bgrey:#546E7A;
$gl500:#8BC34A;
$g500:#4CAF50;
$tl500:#009688;
$ind500:#3F51B5;
$hdcolor:$ind500;

/* Sidebar and container $blue: #6673FC; */

$swidth: 220px; //sidebar width
$cwidth: calc(100% - #{$swidth}); //container-width
$headerHeight :55px; //Header height
$wh100:100%; //Height or width 100%
$sheight:100%;
$uinfo:200px;
$sdbarheight:calc(100% - #{$uinfo}); //Sidebar Height
$height: calc(100% - #{$headerHeight});