@import '~variables.scss';
.page-container {
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-open {
    .sidebar-wrap {
        width: $swidth;
    }
    .container-wrap {
        width: $cwidth;
        margin-left: $swidth;
    }
}

.sidebar-close {
    .sidebar-wrap {
        width: 0px;
        display: none;
    }
    .container-wrap {
        width: 0px;
        margin-left: 0px;
    }
}

.header {
    position: fixed;
    width: $wh100;
    height: $headerHeight;
    background-color: $blue;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.router-content {
    height: $height;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    margin-top: 55px;
    padding: 10px;
}

.sidebar-info {
    width: 220px;
    z-index: 9999;
    background: #fff;
}

.sidebar-wrap {
    position: fixed;
    float: left;
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 11;
}

.sidebar {
    height: $sdbarheight;
    overflow-y: auto;
    overflow-x: hidden;
    top: 200px;
    position: fixed;
    width: $swidth;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #99a5bd;
}

.user-photo {
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom !important;
    border: 3px solid #fff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.sidebar-info {
    height: 200px;
}

.side-logo {
    height: 55px;
    padding: 7px;
}

.sidebar-info {
    text-align: center;
}

.details h4 {
    font-size: 20px;
}

.top-logo {
    color: #fff !important;
}

.header-icons a {
    padding: 18px 10px;
    cursor: pointer;
}

.header-icons {
    color: #fff;
}

.right-inner-addon {
    position: relative;
    padding-top: 6px;
}

.right-inner-addon input {
    padding-right: 30px;
    background: transparent;
    border-color: #fff;
    border-radius: 20px;
    box-shadow: none;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: #818080;
}

.right-inner-addon input:focus {
    background-color: #fff;
}

.right-inner-addon:focus .right-inner-addon i {
    color: $blue !important;
}

.right-icons {
    text-align: right;
}